.TotalPrice .totalPrice {
  font-weight: bold;
  margin-top: 10px;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  text-align: right;
}
.TotalPrice .totalPrice span {
  margin-left: 10px;
}
.TotalPrice p {
  margin: 5px 0;
}