.FoodOrderItem {
  display: flex;
  margin: 5px 0;
}
.FoodOrderItem .price {
  min-width: 40px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.FoodOrderItem .price span:last-child {
  margin-left: 5px;
}
.FoodOrderItem button {
  display: inline-block;
  font-size: 0;
  height: 20px;
  width: 20px;
  border: none;
  background: url(./remove.svg) 50% 50% no-repeat;
  background-size: auto 80%;
  cursor: pointer;
  margin-left: 10px;
}
.FoodOrderItem > * {
  margin-right: 10px;
}
.FoodOrderItem > *:last-child {
  margin-right: 0;
}