* {
  box-sizing: border-box;
}
.App {
  /*text-align: center;*/
  display: flex;
  background-color: #fff;
}
.App > div {
  margin: 15px;
  border: 2px solid #000;
  position: relative;
  padding: 15px;
}
.App > div h4 {
  position: absolute;
  left: 15px;
  top: 0;
  padding: 5px;
  margin: 0;
  background-color: #fff;
  transform: translateY(-50%);
}