.FoodItemWrapper {
  padding: 5px;
}
.FoodItem {
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  color: #000;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px 10px 10px 60px;
  position: relative;
  background-color: #fafafa;
}
.FoodItem:active {
  transform: scale(1.01);
}
.FoodItem img {
  display: block;
  width: 40px;
  height: auto;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.FoodItem h5 {
  margin: 5px 0;
}
.FoodItem p {
  margin: 5px 0;
}